header.header {
  background-color: #ffe600;
  padding: 0 3em;
}

.box-logo a {
  align-items: center;
  background-size: 35px 35px;
  background: url('./felix_the_cat.svg') 0 0 no-repeat transparent;
  direction: ltr;
  display: flex;
  height: 35px;
  text-indent: -9000px;
  width: 35px;
}
